{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>
    <div class="main_title">
       Опасные твари и где они обитают
    </div>

    <div class="main_image">
       <img src="{% static 'img/Человек-паук.jpg' %}" height="40%" width="60%"/>
    </div>

    <div class="links_list">
        <ul>
            <b>Статьи на тему "Опасные твари":</b>
            <li>
                <a href="{% url 'about' %}">Об опасных тварях</a>
            </li>
            <li>
                <a href="{% url 'description' %}">Особые признаки опасных тварей</a>
            </li>
            <li>
                <a href="{% url 'kinds_of_ds' %}">Виды опасных тварей</a>
            </li>
            <li>
                <a href="{% url 'location' %}">Места обитания наполненные опасными тварями</a>
            </li>
            <li>
                <a href="{% url 'top_ds' %}">Самые опасные виды для человека</a>
            </li>
            <li>
                <a href="{% url 'ds_of_belarus' %}">Опасные твари Беларуси</a>
            </li>
        </ul>
    </div>

    <div class="signature">
        <span >Данный сайт сделана студентами группы 820603:<br><address>Шевчук К.Э.</address><address>Гайдюк А.А.</address></span>
    </div>

</body>
</html>