body {
    background-color: #e1ecd6;
    overflow-x: hidden;
}
a {
    color: black;
}

.main_title {
    position: absolute;
    top: 5%;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.links_list {
    position: absolute;
    bottom: 5%;
    right:5%;
    display: flex;
    justify-content: flex-end;
}

.signature {
    margin-bottom: -30px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-style: italic;
    text-align: right;
}