.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px
}

.item {
    margin-left: 48px;
    display: flex
}
.item_data {
    display: flex;
    width: 80%;
    flex-direction: column
}

.item_text {
    margin: 0  48px
}

.flex {
    display: flex;
}

div.flex img {
    margin-right: 64px; margin-top: 64px
}