{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опасные твари Беларуси</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/DSofBelarus.css' %}">
</head>
<body bgcolor="#e1ecd6">
    <div class="main_container column">
        <header class="header">
            <h1>Опасные твари Беларуси</h1>
        </header>
        <ol>
            <li>Змеи
                <div>
                    <p>Единственная ядовитая змея в Беларуси – это гадюка обыкновенная. Выглядит змея так: длиной 50-70 см, от серого до бурого цвета с темной зигзагообразной линией вдоль хребта (хотя некоторые могут быть полностью черными), с закругленной мордой с ядовитыми зубами. Встретиться с ней можно, если отправишься в поход по лесам и болотам, а также будешь исследовать норы, пни и старые камни – гадюка любит там прятаться. При встрече с тобой она сама, скорее всего, попытается скрыться, а нападет только при угрозе собственной безопасности.</p>
                </div>
                <ol type="a">
                    <li>Что делать при встрече?
                        <ol class="inner_ol">
                            <li>Если видишь змею – не делай резких движений и лучше не подходи ближе, чтобы выяснить, вдруг это все-таки ужик.</li>
                            <li>Если змея тебя все-таки укусила (место укуса – две точечные ранки), главное – не паниковать (укус гадюки крайне редко приводит к смерти).</li>
                            <li>Если змея укусила в руку, снимай все кольца, браслеты и тесную одежду, если в ногу – обувь (конечность будет отекать).</li>
                            <li>Промой ранку чистой водой, выдави яд из раны (это актуально только в первые минуты после укуса), продезинфицируй рану спиртом или йодом.</li>
                            <li>Наложи шину на конечность (доска или палка, примотанные мягким бинтом), чтобы обеспечить ее неподвижность, пей много жидкости (кофе и алкоголь нельзя) и как можно быстрее отправляйся в больницу, где есть специальная сыворотка. Укушенному лучше как можно меньше двигаться (транспортировать в больницу лучше лежа).</li>
                            <li>Разрезать место укуса, прижигать или накладывать жгут на конечность нельзя – это может только ухудшить дело.</li>
                        </ol>
                    </li>
                    <li>Что делать, чтобы не встретить?
                        <ol class="inner_ol">
                            <li>Если ты в походе – внимательно смотри под ноги.</li>
                            <li>Выбирай закрытую обувь (высокие сапоги – надежная защита!), не ходи босиком.</li>
                            <li>Не пытайся подходить к змее (например, чтобы сфотографировать ее – твой инстаграм переживет отсутствие фотографии с подписью «за минуту до того, как меня укусила гадюка»).</li>
                            <li>Проверяй пни и камни, прежде чем сесть на них.</li>
                        </ol>
                    </li>
                </ol>
            </li>

            <li>Пауки
                <div>
                    <p>В Беларуси можно встретить южнорусского тарантула (это паук размером примерно 3 см, может быть больше), особенно в Гомельской области на открытых территориях возле водоемов. Они живут в норах, скорее всего, будут избегать человека, но у них есть яд и укусить они тоже могут.</p>
                </div>
                <ol type="a">
                    <li>Что делать при встрече?
                        <ol class="inner_ol">
                            <li>Если паук тебя укусил – промой место укуса чистой водой и продезинфицируй спиртом или йодом.</li>
                            <li>Паук не очень опасен – скорее всего, тебя ждет отек и болезненность места укуса, но лучше все равно в ближайшее время обратиться к врачу.</li>
                            <li>Действительно опасной может быть ситуация, если у тебя разовьется аллергическая реакция – выпей антигистаминные препараты и едь в ближайшую больницу.</li>
                        </ol>
                    </li>
                    <li>Что делать, чтобы не встретить?
                        <ol class="inner_ol">
                            <li>Внимательно осматривай все места, куда ты собираешься садиться или ложиться</li>
                            <li>Внимательно осматривай все, что ты собираешься брать руками.</li>
                        </ol>
                    </li>
                </ol>
            </li>

            <li>Пчелы, осы, шершни
                <div>
                    <p>Обычные летние обитатели лесов и полей, которые могут и укусить.</p>
                </div>
                <ol type="a">
                    <li>Что делать при встрече?
                        <ol class="inner_ol">
                            <li>Если укусила пчела, чистым пинцетом или иглой удали жало.</li>
                            <li>Дальше со всеми укусами поступай одинаково: промой место укуса чистой водой, продезинфецируй спиртом, йодом или перекисью водорода.</li>
                            <li>Сделай холодный компресс, пей много жидкости.</li>
                            <li>Если место укуса быстро отекает и немеет или ты начинаешь чувствовать резкую слабость и головокружение – выпей противоаллергические (антигистаминные) препараты и вызывай скорую или срочно едь в больницу.</li>
                        </ol>
                    </li>
                    <li>Что делать, чтобы не встретить?
                        <ol class="inner_ol">
                            <li>Если видишь где-то гнездо, рой или пасеку – обходи стороной, не размахивая руками.</li>
                            <li>Также на природе лучше не пользоваться косметикой с ярким запахом – есть мнение, что это может привлекать насекомых.</li>
                        </ol>
                    </li>
                </ol>
            </li>

            <li>Клещи
                <div>
                    <p>Клещи – членистоногие, которые отлично чувствуют себя в Беларуси и живут и в городских парках, и в глухих лесах. Для жизненного цикла им нужна кровь теплокровных – и поэтому к любому твоему пикнику добавляется еще один повод для беспокойства. То, что у тебя кто-то пьет кровь, противно само по себе, но в случае с клещами еще и опасно – они могут переносить болезнь Лайма (клещевой боррелиоз, поражающий кожу, суставы и сердечно-сосудистую систему), а в некоторых регионах и клещевой энцефалит. В Беларуси это Беловежская пуща и Березинский заповедник.</p>
                </div>
                <ol type="a">
                    <li>Что делать при встрече?
                        <ol class="inner_ol">
                            <li>Если ты вдруг заметишь у себя родинку в новом месте, присмотрись, нет ли у родинки лапок – возможно, это клещ. Его надо удалить – чем раньше, тем лучше. Смазывать клеща маслом бесполезно.</li>
                            <li>Важно достать клеща полностью, не разорвав его и не оставив головку. Это можно сделать пинцетом или нитью: захвати клеща как можно ближе к коже и достань выкручивающими движениями.</li>
                            <li>Если головка оторвалась, удали ее стерильной иглой, как занозу, обработай место укуса спиртом.</li>
                            <li>В качестве профилактики болезни Лайма сразу принимают антибиотик доксициклин – его назначает врач.</li>
                            <li>Можно сдать клеща на исследование – оно проводится на платной основе.</li>
                        </ol>
                    </li>
                    <li>Что делать, чтобы не встретить?
                        <ol class="inner_ol">
                            <li>Если идешь в лес, надевай закрытую одежду и головной убор.</li>
                            <li>К черту моду: майку заправляй в штаны, штаны – в носки.</li>
                            <li>Регулярно осматривай себя и товарища в поисках коварных черных точек на одежде и коже: проще снять еще ползущего клеща, чем присосавшегося.</li>
                            <li>Одежду можно обработать специальным средством от клещей (обычный репеллент от насекомых тут не подойдет).</li>
                            <li>Если ты знаешь, что будешь находиться в зоне, где распространен клещевой энцефалит, сделай заранее прививку.</li>
                        </ol>
                    </li>
                </ol>
            </li>

            <li>Дикие животные
                <div>
                    <p>Даже если ты идешь в поход, диких животных ты, скорее всего, не встретишь. Они слышат людей и сами отходят подальше. Опасными они становятся в случае, если защищают свою территорию – или если болеют бешенством.</p>
                </div>
                <ol type="a">
                    <li>Что делать при встрече?
                        <ol class="inner_ol">
                            <li>Бешенством болеют кабаны, барсуки, лисицы, зайцы, грызуны, енотовидные собаки, летучие мыши, лошади, коровы, кошки, собаки.</li>
                            <li>Бешенство – абсолютно смертельное заболевание, и комплекс прививок – единственный способ его предотвратить.</li>
                            <li>Если тебя укусило или поцарапало дикое животное (да и непривитое домашнее тоже), сразу хорошо промой рану чистой водой, обработай края раны спиртом или йодом, наложи чистую повязку и обращайся в больницу за прививками.</li>
                        </ol>
                    </li>
                    <li>Что делать, чтобы не встретить?
                        <ol class="inner_ol">
                            <li>Если видишь диких животных – не думай, что это твой шанс стать звездой Youtube.</li>
                            <li>Не подходи ближе, не делай резких движений, спокойно уходи.</li>
                            <li>В адекватном состоянии приближаться к людям животное не будет, а вот бешенство лишает его осторожности.</li>
                            <li>Никогда не гладь и не бери на руки диких животных, даже самых милых.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>


    <footer class="navigation">
        <a href="{% url 'top_ds' %}">< Самые опасные</a>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'about' %}">Об опасных тварях ></a>
    </footer>
</body>
</html>


