.container {
    display: flex;
    justify-content: center;
    margin-top: 32px
}
.content {
    justify-content: center;
    width: 60%;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}

.content_data {
    margin: 32px 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}