.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px
}

.content {
    margin-left: 48px;
}

div.content text {
    margin-left: 16px;
}

div.content div {
    margin-left: 32px;
}
h4 {
    margin-left: 8px
}